.page-content {
    margin-top: 76px;
}

/* Jumbotron - banner */
.home-banner {
    height: 700px;
    overflow: hidden;
    position: relative;
    background-color: var(--primary-dark);
}

.banner-side {
    position: absolute;
    width: 60%;
    height: 100%;
    bottom: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.banner-side .banner-text {
    text-align: left;
    color: #fff;
}

.banner-side .banner-text .banner-title {
    font-weight: 600;
    margin-bottom: 32px;
}

.banner-button .request-btn {
    background-color: #fff;
    color: var(--emergency);
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.2s ease;
    font-weight: 600;
}

.request-btn:hover {
    background-color: var(--emergency);
    color: #fff;
    transform: scale(1.05);
}

.banner-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
}

.banner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    right: 0;
    background-image: linear-gradient(to left, rgba(33, 45, 217, 0), var(--primary-dark));
}

.home-banner .register-btn {
    background-color: #fff;
    color: var(--primary);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.home-banner .login-btn {
    background-color: var(--primary);
    color: #fff;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.home-banner .register-btn:hover, 
.home-banner .login-btn:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

/* Home Menu */
.home-menu {
    background-color: #f4f4f4;
    min-height: 776px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}

.home-menu .menu-title {
    color: var(--primary);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.menu-card {
    display: block;
    color: #222;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    min-height: 540px;
    overflow: hidden;
    transition: 0.3s ease;
    margin-top: 20px;
}

.menu-card-disabled:hover {
    cursor: not-allowed;
    opacity: 0.8;
}

.request-message {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu-card-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 368px;
    padding-top: 20px;
}

.menu-card-image {
    width: 100%;
}

.menu-card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px 20px 56px;
}

.menu-card-body h5 {
    font-weight: 600;
}

.menu-card-btn {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    bottom: -56px;
    padding: 16px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    transition: 0.3s ease;
    opacity: 0;
}

.menu-card-btn.btn-track {
    background-color: var(--emergency);
}

.menu-card-btn.btn-disabled {
    background-color: #ccc;
}

.menu-card:hover {
    transform: scale(1.03);
}

.menu-card:hover .menu-card-btn {
    bottom: 0;
    opacity: 1;
}