.profile-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    color: #fff;
    margin-right: 16px;
}

.user-heading {
    padding-top: 32px;
    text-align: center;
    background-color: var(--primary);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.user-heading .user-ava {
    border-radius: 50%;
    width: 65%;
}

.user-heading .user-name {
    font-weight: 600;
    margin-top: 16px;
    font-size: 22px;
    margin-bottom: 4px;
}

.user-heading .user-phone {
    font-size: 16px;
    opacity: 0.8;
    margin: 0;
    padding-bottom: 20px;
}

.user-link-list {
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-link-list ul {
    list-style-type: none;
    padding: 0;
}

.user-link-list ul li {
    display: block;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.user-link-list ul li:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-link-list ul li:hover {
    background-color: var(--primary-dark);
}

.user-link-list ul li:hover .user-link {
    color: #fff;
    transform: translateX(8px);
}

.user-link-list ul li:last-child:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.user-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
    transition: color 0.2s ease, transform 0.2s ease;
}

.profile-main {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}

.profile-title {
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 20px;
}

.profile-form .form-group {
    margin: 8px 0;
}

.profile-form .form-group label {
    color: rgba(0, 0, 0, 0.6);
}

.profile-form .form-group input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
}

.profile-form .form-group input:focus {
    border-bottom: 2px solid var(--primary);
    outline: none;
    box-shadow: none;
}

.profile-form .form-group textarea {
    border-color: 1px solid #999;
}

.profile-form .form-group textarea:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--primary);
}

.profile-form .profile-btn {
    background-color: var(--primary);
    width: 100%;
    margin-top: 16px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.profile-form .profile-btn:hover {
    opacity: 0.7;
    transform: scaleY(1.05);
}

@media (max-width: 991.99px) {
    .user-name {
        font-size: 36px !important;
    }

    .user-phone,.user-link-list ul li a {
        font-size: 24px !important;
    }

    .profile-sidebar {
        padding: 0;
        margin: 0;
    }

    .profile-main {
        border-radius: 0;
        padding: 16px  80px;
    }

    .profile-title {
        text-align: center;
        font-size: 56px;
        margin-top: 20px;
    }

    .form-group label {
        font-size: 40px;
    }

    .form-group input, .form-group textarea {
        font-size: 30px;
    }

    .profile-main .profile-btn {
        font-size: 32px;
        padding: 16px 0;
        margin: 24px 0;
    }
}