:root {
    --primary: #20A0D8;
    --primary-dark: rgb(45, 57, 219);
    --secondary: #fff;
    --emergency: #dd1f1f;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

.navigation div.container-fluid {
    padding: 0 24px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navigation ul li:hover {
    transform: scale(1.2);
}

.navigation ul li:hover a {
    color: var(--primary);
}

.navigation ul li:hover a.nav-item-red {
    color: var(--emergency);
}

.navigation ul li a {
    text-decoration: none;
}

.navigation .nav-logo {
    padding-left: 12px;
    padding-right: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 12px;
    font-weight: 600;
}

.navigation .nav-logo:hover {
    background-color: var(--primary);
    color: #fff;
}

.page-content {
    margin-top: 100px;
    min-height: 766px;
}

footer {
    padding: 112px 0;
    background-color: #fff;
    margin-top: 80px;
}

.footer-logo {
    font-size: 32px;
    font-weight: 800;
    color: var(--primary);
}

.footer-links {
    margin: 0 0 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer-links li {
    padding: 10px 16px;
    transition: 0.2s ease;
}

.footer-links li a {
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
}

.footer-links li:hover {
    transform: scale(1.05);
}

.footer-links li:hover a {
    color: var(--primary);
}

footer .social h3 {
    font-size: 18px;
    font-weight: 600;
    
}

.social .social-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social .social-icon {
    font-size: 18px;
    padding: 10px;
}

.footer-copyright {
    font-size: 14px;
    color: #999;
}

@media (max-width: 1024px) {
    .navigation .nav-container {
        display: flex;
        justify-content: center;
    }

    .navigation .nav-logo span {
        display: none;
    }

    .navigation .nav-logo img {
        width: 100px;
        height: 100px
    }

    .navbar-toggler {
        position: absolute;
        right: 5%;
        top: 64px;
        transform: translateY(-50%);
        height: 54px;
        transition: none;
    }

    .nav-item {
        padding: 6px 0;
        font-size: 24px;
    }

    .page-content {
        margin-top: 126px!important;
        min-height: 1500px;
    }

    .footer-logo {
        font-size: 48px;
    }

    .footer-links {
        flex-wrap: wrap;
        gap: 12px;
        font-size: 24px;
    }

    footer .social h3 {
        font-size: 24px;
    }
    
    .social .social-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .social .social-icon {
        font-size: 40px;
        padding: 14px;
    }

    .footer-copyright {
        font-size: 18px;
    }
}

@media (max-width: 1199.99px) {
    .navigation ul li:hover {
        transform: none;
    }
}
