{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content %}
<style>
    /* Định nghĩa hiệu ứng nhấp nháy cho viền */
    @keyframes blinkBorder {
        0% {
            border-color: var(--emergency);
        }
        50% {
            border-color: white;
        }
        100% {
            border-color: var(--emergency);
        }
    }

    /* Áp dụng hiệu ứng nhấp nháy cho viền của card */
    .blinking-border {
        border: 3px solid #fff;
        animation: blinkBorder 1s infinite;
    }
</style>
<div class="">
    <div class="jumbotron text-center home-banner">
        <div class="banner-image">
            <img src="{{ url_for('static', filename='images/home/banner.jpg') }}" class="banner-img" alt="Emergency Request">
            <div class="banner-overlay"></div>
        </div>
        <div class="container-sm banner-side">
            <div class="banner-text">
                <h1 class="display-4 banner-title">Welcome to Rapid Rescue</h1>
                <p class="lead">A web application that helps you quickly request an ambulance, <br>track the ambulance in real-time, and provide essential medical information to EMTs.</p>
            </div>
            <div class="banner-button">
                <a class="request-btn blinking-border" href="{{ url_for('user.emergency_request') }}" role="button">Emergency Request</a>
            </div>
        </div>
        {% if not current_user.is_authenticated %}
        <!-- <div class="home-bannertop p-5 full-round">
            <h1 class="display-4 banner-title">Welcome to Rapid Rescue</h1>
            <p class="lead">A web application that helps you quickly request an ambulance, track the ambulance in real-time, <br>and provide essential medical information to EMTs.</p>
            <a class="btn btn-lg m-1 register-btn" href="{{ url_for('user.register') }}" role="button">Register Now</a>
            <a class="btn btn-lg m-1 login-btn" href="{{ url_for('user.login') }}" role="button">Login</a>
        </div> -->
        {% else %}
        <!-- <div class="home-bannertop p-5">
            <h1 class="display-4 banner-title">Welcome to Rapid Rescue</h1>
            <p class="lead">A web application that helps you quickly request an ambulance, track the ambulance in real-time, <br>and provide essential medical information to EMTs.</p>
        </div>
        <div class="home-bannerbottom p-3">
            <div class="banner-image">
                <img src="{{ url_for('static', filename='images/home/banner.jpg') }}" class="banner-img" alt="Emergency Request">
                <div class="banner-overlay"></div>
            </div>
            <div class="banner-text">
                <h3 class="banner-subtitle">Requires medical assistance?<br>Needs to call an ambulance?</h3>
                <a class="request-btn blinking-border" href="{{ url_for('user.emergency_request') }}" role="button">Emergency Request</a>
            </div>
        </div> -->
        {% endif %}
    </div>
</div>

<div class="home-menu">
    <div class="container row">
        <h2 class="menu-title">Services</h2>
        {% if existing_em %}
            <div class="col-lg-4">
                <a class="menu-card mb-4 blinking-border menu-card-track"  href="{{ url_for('user.track_emergency', emergency_id=existing_em.id) }}">
                    <div class="alert alert-danger text-center m-0 request-message" role="alert">
                        You are requesting an Emergency Request!
                    </div>
                    <div class="menu-card-img">
                        <img src="{{ url_for('static', filename='images/home/track-ambulance.png') }}" class="menu-card-image" alt="Track Ambulance" style="width: 180%;">
                    </div>
                    <div class="menu-card-body">
                        <h5 class="menu-card-title">Track Ambulance</h5>
                        <p class="menu-card-text">Monitor the ambulance's real-time location to ensure timely arrival.</p>
                    </div>
                    <div class="menu-card-btn menu-card-btn btn-track">Track now</div>
                </a>
            </div>
        {% else %}
            <div class="col-lg-4">
                <div class="menu-card mb-4 menu-card-disabled">
                    <div class="menu-card-img">
                        <img src="{{ url_for('static', filename='images/home/track-ambulance.png') }}" class="menu-card-image" alt="Track Ambulance" style="width: 180%;">
                    </div>
                    <div class="menu-card-body">
                        <h5 class="menu-card-title">Track Ambulance</h5>
                        <p class="menu-card-text">Monitor the ambulance's real-time location to ensure timely arrival.</p>
                    </div>
                    <div class="menu-card-btn btn-disabled" >You don't have any requests to track</div>
                </div>
            </div>
        {% endif %}
        
        <div class="col-lg-4">
            <a class="menu-card mb-4" href="{{ url_for('user.profile') }}">
                <div class="menu-card-img">
                    <img src="{{ url_for('static', filename='images/home/medical-info.jpg') }}" class="menu-card-image" alt="Medical Information">
                </div>
                <div class="menu-card-body">
                    <h5 class="menu-card-title">Medical Information</h5>
                    <p class="menu-card-text">Provide essential medical information to EMTs before they arrive on-site.</p>
                </div>
                <div class="menu-card-btn">Update Profile</div>
            </a>
        </div>
        <div class="col-lg-4">
            <a class="menu-card mb-4" href="{{ url_for('user.feedback') }}" >
                <div class="menu-card-img">
                    <img src="{{ url_for('static', filename='images/home/feedback.jpeg') }}" class="menu-card-image" alt="Feedback" style="width: 80%;">
                </div>
                <div class="menu-card-body">
                    <h5 class="menu-card-title">Feedback</h5>
                    <p class="menu-card-text">Send feedback on the service to help us improve.</p>
                </div>
                <div class="menu-card-btn">Send Feedback</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
